<div class="col-md-12">
  <ul class="list-group">

    <app-feature (removeConfirmed)="featureRemoved($event)" *ngFor="let feature of f1" [feature]="feature"></app-feature>
    
  </ul>
  <div *ngIf=!addMode class="d-flex">
    <a class="ml-auto" (click)="add()"><i class="material-icons">add_circle</i>New Feature</a>
  </div>
  <div *ngIf=addMode>
    <div class="d-flex">
      <a class="ml-auto" (click)="cancelAdd()"><i class="material-icons">clear</i></a>
    
    </div>
    <app-edit-feature featureId=0 [workspaceId]="workspaceId" (btnClick)="addFeature($event)"></app-edit-feature>
  </div>

</div>
