<div class="card">
    <div class="card-header">
        <h3>Edit Feature</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="feature.name"></label>
            <input class="form-control" [(ngModel)]="feature.name" type="text" id="feature.name" placeholder="Enter the feature name"/>
        </div>
        <div class="form-group">
            <ng-select [(ngModel)]="featureType" class="form-control">
                <ng-option *ngFor="let key of keys" [value]="key">{{featureTypes[key]}}</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn-primary" (click)="save()">Save</button>
        <button class="btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</div>